* {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: white;
    filter: contrast(0.7);
}

h1 {
    font-size: 64px;
    margin: 0;
}

p {
    margin: 0;
    filter: contrast(0.7);
}

button {
    width: 100px;
    background-color: #007AFF;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    color: white;
    font-weight: 700;
}

.top {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(39, 40, 63);
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 10px;
}

.header-logo {
    font-size: 24px;
    font-weight: 600;
}

.links {
    display: flex;
    gap: 25px;
}

.content {
    display: flex;
    padding-top: 125px;
    padding-bottom: 125px;
    gap: 25px;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: gray;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    margin: 50px;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.info-block {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.info-image {
    border: 3px solid #007AFF;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 5px;
}

.info-text {
    filter: contrast(0.2);
    text-align: center;
    font-size: 18px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    padding-right: 350px;
    background-color: rgb(233, 233, 233);
}

.quote-text {
    font-size: 36px;
    filter: contrast(0.5);
}